.content-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.img {
  background-image: url('../../../assets/background-image.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 10px 50px;
  background: rgb(131, 58, 180, .5);
  background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(227, 136, 9, .5) 100%);
}

.login-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-form {
  background: #fff;
  max-width: 800px;
  border: 2px solid #c3c6ce;
  border-radius: 20px;
  padding: 1.8rem;
  transition: 0.5s ease-out;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
