<nz-tabset>
  <nz-tab nzTitle="All levels">
    <ng-template ngFor let-lesson [ngForOf]="lessons | sortByOrder">
      <div nz-col class="card" (click)="navigateUnit(lesson)">
        <div class="card-details">
          <p class="text-title">{{lesson.title}} {{lesson.sortOrder}}</p>
          <p class="text-body">{{lesson.description}}</p>
        </div>
      </div>
    </ng-template>
  </nz-tab>
  <ng-template ngFor let-level [ngForOf]="englishLevels">
    <div nz-row nzJustify="start" nzAlign="middle">
      <nz-tab nzTitle="{{level.name}} - {{level.code}}">
        <ng-template ngFor let-lesson [ngForOf]="lessons | filter : 'levelCode' : level.code | sortByOrder">
          <div nz-col class="card" (click)="navigateUnit(lesson)">
            <div class="card-details">
              <p class="text-title">{{lesson.title}} {{lesson.sortOrder}}</p>
              <p class="text-body">{{lesson.description}}</p>
            </div>
          </div>
        </ng-template>
      </nz-tab>
    </div>
  </ng-template>
</nz-tabset>
