.card {
  width: 200px;
  height: 175px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-right: 20px;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.text-body {
  color: rgb(134, 134, 134);
}

.text-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #008bf8;
  text-align: center;
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.lessons-box {
  margin: 10px 0;
  padding: 20px;
  border: 2px solid #c3c6ce;
  border-radius: 20px;
  transition: 0.5s ease-out;
}
