<nz-layout>
  <nz-header nz-row class="border-bottom-style" [ngClass]="{'dark': theme, 'light': !theme}">
    <div nz-col nzFlex="80px" class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed">
    </div>
    <div nz-col nz-row nzFlex="auto" nzJustify="center">
      <div nz-col>
        <nz-switch [(ngModel)]="theme">
          <span checked>Dark</span>
          <span unchecked>Light</span>
        </nz-switch>
      </div>
    </div>
    <div nz-col>
      {{user.email}}
      <button nz-button nzType="default" nzShape="round" nzSize="small" (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        Log Out
      </button>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider class="menu" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzWidth="250px"
      [nzTheme]="theme ? 'dark' : 'light'">
      <ul *ngIf="isMenuLoad" nz-menu nzMode="inline" [nzTheme]="theme ? 'dark' : 'light'">
        <ng-template ngFor let-course [ngForOf]="courses">
          <li nz-submenu nzTitle="{{course.name}}" nzIcon="{{getIconName(course.name)}}">
            <ul>
              <li nz-menu-item *ngFor="let group of course.groups | sortByOrder"
                (click)="navigateToLesson(course.name.toLowerCase(), course.id, group)">
                <h5 [ngClass]="{'text-light': theme}">{{group.name}} </h5>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content class="scroll">
        <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
          <nz-breadcrumb-item>
            <a routerLink="/"><span nz-icon nzType="home"></span></a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-divider></nz-divider>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer class="border-top-style" [ngClass]="{'dark': theme, 'light': !theme}">
        <h2 [ngClass]="{'text-light': theme}">English App {{currentYear}}</h2>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
