<div nz-row nzJustify="space-evenly" nzAlign="middle">
  <div nz-col class="gutter-row main-card" [nzSpan]="8" routerLink="/grammar">
    <h1 style="text-align: center;">Grammar</h1>
  </div>
  <div nz-col class="gutter-row main-card" [nzSpan]="8" routerLink="/vocabulary">
    <h1 style="text-align: center;">Vocabulary</h1>
  </div>
  <div nz-col class="gutter-row main-card" [nzSpan]="8" routerLink="/listening">
    <h1 style="text-align: center;">Listening</h1>
  </div>
  <div nz-col class="gutter-row main-card" [nzSpan]="8" routerLink="/speaking">
    <h1 style="text-align: center;">Speaking</h1>
  </div>
</div>